Repository SeniorSA/tecnologia-webcomponents, pull requests merged in 2021-03, with the labels that each got.

#19 Create auxiliary classes for layout
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  CHANGELOG.md
  config.json
  package-lock.json
  package.json
  properties/color/base.json
  properties/color/font.json
  properties/font/family.json
  properties/font/font.json
  properties/font/line-height.json
  properties/status/base.json
  src/components.d.ts
  src/components/my-component/my-component.tsx
  src/components/my-component/readme.md
  src/index.html
  src/scss/injected.scss
  src/scss/mixins/base/base.scss
  src/scss/mixins/themes/dark.scss
  src/scss/mixins/themes/light.scss
  src/scss/placeholders/host.scss
  src/scss/variables/_variables.css
  src/scss/variables/_variables.scss
Labels: architecture, enhancement

#20 Creating product-header component
  .github/workflows/pull_requests.yml
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/deploy.sh
  src/components.d.ts
  src/components/interfaces.ts
  src/components/product-header/product-header.scss
  src/components/product-header/product-header.stories.tsx
  src/components/product-header/product-header.tsx
  src/components/product-header/readme.md
  src/components/product-header/test/product-header.e2e.ts
  src/components/product-header/test/product-header.spec.tsx
  src/defaultTheme.ts
  src/index.html
  src/scss/includes/components.scss
  src/scss/mixins/base/base.scss
  src/scss/placeholders/host.scss
  src/typings.d.ts
  stencil.config.ts
Labels: components

#28 Create button component
  CHANGELOG.md
  package-lock.json
  src/components.d.ts
  src/components/tec-button/readme
  src/components/tec-button/tec-button.model.ts
  src/components/tec-button/tec-button.scss
  src/components/tec-button/tec-button.stories.tsx
  src/components/tec-button/tec-button.tsx
  src/components/tec-button/test/tec-button.e2e.ts
  src/components/tec-button/test/tec-button.spec.tsx
  src/index.html
  src/models/status.model.ts
Labels: components

#29 fix tec-button default size
  CHANGELOG.md
  src/components/tec-button/tec-button.scss
  src/index.html
Labels: bug

#30 Created bottom-bar component
  .prettierrc.json
  CHANGELOG.md
  src/components.d.ts
  src/components/bottom-bar/bottom-bar.model.ts
  src/components/bottom-bar/bottom-bar.scss
  src/components/bottom-bar/bottom-bar.stories.tsx
  src/components/bottom-bar/bottom-bar.tsx
  src/components/bottom-bar/readme.md
  src/components/bottom-bar/test/bottom-bar.e2e.ts
  src/components/bottom-bar/test/bottom-bar.spec.tsx
  src/components/my-component/my-component.scss
  src/components/my-component/my-component.tsx
  src/components/my-component/readme.md
  src/components/product-header/product-header.scss
  src/components/product-header/product-header.tsx
  src/components/product-header/readme.md
  src/components/tec-button/readme.md
  src/index.html
Labels: components

#32 Modal component
  CHANGELOG.md
  package-lock.json
  package.json
  src/components.d.ts
  src/components/tec-button/readme.md
  src/components/tec-button/tec-button.tsx
  src/components/tec-button/test/tec-button.spec.tsx
  src/components/tec-modal/readme.md
  src/components/tec-modal/tec-modal.scss
  src/components/tec-modal/tec-modal.stories.tsx
  src/components/tec-modal/tec-modal.tsx
  src/components/tec-modal/test/tec-modal.e2e.ts
  src/components/tec-modal/test/tec-modal.spec.tsx
  src/index.html
  src/models/size.model.ts
Labels: components
